<!-- <!DOCTYPE html>
<html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1><%= title %></h1>
      <a href="/tasks">Tasks List</a>
    </body>
  </html> -->

  <%- include('./partials/header') %>

<h2>Home Page</h2>

<%- include('./partials/footer') %>