* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  color: #424748;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

h2, h4, h5 {
  text-align: center;
  justify-items: center;
 
}

h5 {
font-size: 17px;
inline-size: 120px;
overflow-wrap: break-word;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

nav {
  grid-area: nav;
  background-color:rgba(33,191,150,255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:  20px 0 40px 40px;
}

nav > img {
  width: 80px;
  object-fit: contain;
  margin-right: auto;
 padding-top: 10px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
 
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #ffffff;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, minmax(auto, 22rem));
  background-color:#21bf9588;
  top: 0;
  left:0;
  right:0;
  bottom:0px;
  margin:auto;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #424748;
  width: 20rem;
  padding: 5px ;
  margin-top: -10px;
  margin-left: 30px;
}



#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

.yourWeek {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 7vmin;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-mental-form, #add-note-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem ;
  margin-bottom: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: #b8c0c248;
}

#add-mental-form input[type="submit"],#add-note-form input[type="submit"]  {
  width: 5rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page {
  margin-top: 4rem;
  justify-content: center;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  background-color: #2195bf37;
  border-radius: 10px;
  border: 2px solid black;
}
  
#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.yourWeek {
align-items: center;
text-align: center;
}




.homeLogo {
  width: 35vmin;
  position:relative;
  top:5px;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
 .signedInHome{
  height: 50px;
  top:0;
  left:0;
  right:0;
  bottom:0px;
  margin:auto;
  text-decoration:underline overline #21bf96;;

}

.signedInHome{
  font-size: 5vmin;
}

.signInImg {
  width: 3rem;
  padding-right: 9px;
}

.signInBox, .signedInBox {
  align-items: center;
  text-align: center;
  background-color: #ffffff9b;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20rem;
}

.gradient {
  background-image: linear-gradient( #21bf9563,#26bf2138, rgba(199, 233, 125, 0.195),rgba(223, 237, 191, 0.042));
  border-width: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
  margin-right: 180px;
  padding: 100px;
}

.signInLink, .signedInHome{
  text-decoration: underline;
}
.signInText, .signedInText{
  font-size: 1.8rem;
  font-family: 'Bebas Neue', sans-serif;
}

.motto {
  font-family: 'Bebas Neue', sans-serif;
  text-align:center ;
  
}

 .homeText {
  margin-top: 200px;
  font-family: 'Oxygen', sans-serif;
  font-size: 2rem;
 }

.navText {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
}

.planYourWeek{
  font-family: 'Comfortaa', cursive;
}

.blue {
  background-color: rgba(0, 38, 255, 0.134);
}
.yellow {
  background-color: rgba(27, 206, 96, 0.196);
}
.orange {
  background-color: rgba(255, 234, 0, 0.4);
}

#daysText {
background-color: #21bf96;
padding: 10px;
margin-top: -20px;
border-radius: 10px;
font-family: 'Bebas Neue', sans-serif;
}

.dayHeader {
height: 35px;

}

 #catDivs {
  padding: 10px;
  margin: 0;
  margin-bottom: 2px;
  
 }

.daysCols {
display: flex;
}
 .daysCol {
  border-radius: 10PX;
  flex: 1;
  background-color: rgba(187, 221, 221, 0.471);
  
 }

.columns {
justify-content:space-between;
display: flex;
align-items: flex-start;
gap: 6px;
margin-left: 20px;
 }

.whole {
display: flex;
justify-content:center;
margin: 1%;



 }

 .showContent {
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
 }
 .showBoxes {
  background-image: linear-gradient( #21bf9563,#26bf2138, rgba(199, 233, 125, 0.195),rgba(223, 237, 191, 0.147));
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 10px;
  
 }

 .showHeaders {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
 }

.task {
  color: #07382b;
}