<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Tasks</th>
      <th>Date<br>Assigned</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach(function(t) { %>
      <tr>
        <td><%= t.title %></td>
        <td><a href="/tasks/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
