<form id="new-form" action="/tasks" method="POST">
  <label>Day:</label>
  <input type="date" name="day">
  <label>Category</label>
  <select name="category">
    <option value="Work">Work</option>
    <option value="Self-Care">Self-Care</option>
    <option value="Misc">Misc</option>
  </select>
  <label>Task:</label>
  <input type="text" name="releaseYear">
  
  <input type="submit" value="Add Task">
</form>